doctype html 
html
    head
        title Pug Assignment
        link(rel="stylesheet", href="static/css/style.css")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    body 
        include ./header.pug
        section
            div(class="container-fluid mt-4 bg-light text-warm rounded text-center ")
              h1 NeoSoft Technology

              p We are Building For Billions And Crafting Stories Of Bold Transformation.The next-gen global technology company helping businesses to grow and thrive in the digital age. 
              p Engineering ideas to improvise lives, NeoSOFT over the past 25 years, has empowered ambitious change-makers around the world with sustained digital capabilities. We are a trusted Digital Engineering and Enterprise Modernization partner with offerings that enable our clients’ by creating a unique competitive advantage. While leaving room for continuous enhancement, NeoSOFT has leveraged the most in-demand technologies, methodologies, and framework components, for solving important client challenges. Combining deep technical competencies and industry experience, we ensure robustness, extensibility, and continuity in the solutions we deliver.
        
     
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
