header 
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href='/') HOME
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-center
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/about') About Us
          li.nav-item
            a.nav-link(href='/gallery') Gallery
          li.nav-item
            a.nav-link(href='/services') Services
          li.nav-item
            a.nav-link(href='/contacts') Contact
          li.nav-item
            a.nav-link(href='/Information') Information
