doctype html 
html
    head
        title Template
        link(rel="stylesheet", href="static/css/style.css")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    body
        include ./header.pug 
        section(id="services" class="container text-center ourservices")
            h1 Services
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam animi cupiditate quae aliquam neque dignissimos quam sapiente doloremque ducimus facere inventore amet pariatur eos ipsa nam, aut velit, officia odit!

            div.row
                div.col-md-4.d-block.m-auto
                    div
                        i.bi.bi-cart-check-fill(style="font-size: 40px;")
                    h2 Buisness 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates similique pariatur reprehenderit, laboriosam unde, ut sint nesciunt harum ex, illum aspernatur repellendus libero enim aperiam. Excepturi corporis ducimus hic deserunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab deserunt beatae fugiat qui neque nihil facere tenetur quod provident, fugit aliquid sed quibusdam enim nostrum reiciendis dolorem aperiam vero. Culpa?
                
                div.col-md-4.d-block.m-auto
                    div
                        i.bi.bi-cart-check-fill(style="font-size: 40px;")
                    
                    h2 Social
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates similique pariatur reprehenderit, laboriosam unde, ut sint nesciunt harum ex, illum aspernatur repellendus libero enim aperiam. Excepturi corporis ducimus hic deserunt! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, nisi consequuntur. Incidunt, aperiam delectus minima pariatur magni quasi corrupti adipisci inventore voluptatibus dolor nihil temporibus labore debitis eveniet tempore voluptates.
                
                div.col-md-4.d-block.m-auto
                    div
                        i.bi.bi-cart-check-fill(style="font-size: 40px;")
                    
                    h2 Software 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates similique pariatur reprehenderit, laboriosam unde, ut sint nesciunt harum ex, illum aspernatur repellendus libero enim aperiam. Excepturi corporis ducimus hic deserunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cumque tenetur veniam, suscipit possimus hic molestias voluptas culpa maxime distinctio incidunt! Rerum, itaque accusantium. Nihil sed recusandae saepe ex autem?
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
